### Assignment Operator (=)

- It is used to assign any value (int, float, string, tuple, list etc) to a variable

In [3]:
a = 10
b = 'Mayank'
c = [1,2,3,4,5]
print(a, b, c)

10 Mayank [1, 2, 3, 4, 5]

- Logical Operator 
- Comparision Operator 
- Equality Operator

The answer is going to be either True(1) or False(0) i.e it is going to return a Boolean Value

- Numerical Data-type 
    - int: 0 is False else True 
    - float: 0.0 is False else True 
    - complex: 0+0j is False else True 

- Sequential Data-type
    - String: empty string('' or "") is False else True 
    - List: empty list([]) is False else True 
    - Tuple: empty tuple(()) is False else True

- Non- sequential Data-type and Mapping Data-type 
    - Dict: empty dict ({}) is False else True 
    - Set: empty set (set()) is False else True 
    - frozenset: empty frozesnset (frozenset()) is False else True

In [5]:
bool(0)

False

In [6]:
bool(100)

True

In [7]:
bool(-100)

True

In [9]:
bool(0.0)

False

In [8]:
bool(0.0000000001)

True

In [10]:
bool(0+0j)

False

In [11]:
bool(0+7j)

True

In [12]:
bool('')

False

In [13]:
bool(' ')

True

In [14]:
bool([])

False

In [15]:
bool([1])

True

In [16]:
bool(())

False

In [17]:
bool((1,))

SyntaxError: invalid syntax (2218700231.py, line 1)

In [19]:
a = (1,)
type(a)

tuple

In [26]:
bool(_)

True

In [21]:
bool('!')

True

In [23]:
bool(None)

False

In [28]:
lst = []
t = tuple(lst)
t

()

In [29]:
type(t)

tuple

In [30]:
d = {}
type(d)

dict

In [32]:
s = set(d)
print(s, type(s))
print(bool(s))

set() <class 'set'>
False

### Type-casting
int(), float(), str(), list(), tuple(), set(), dict(), frozenset(), complex()

In [35]:
a = (1)
type(a)

int

In [36]:
a = (1,)
type(a)

tuple

In [37]:
bool((1,))

True

In [39]:
bool((1,0))

True

In [11]:
type(_)

type

### Logical Operator

- These Operators are used to perform some logical operation on the value 
- They are going to return a boolean value (True or False)
    
    - and 
    - or 
    - not

### and logical Operator

and logical gate 

0  0 ----> 0 
0  1 ----> 0 
1  0 ----> 0
1  1 ----> 1

- and logical Operator looks for False as soon as it gets False, It will return you a false 
- if there is no false value the it will return you a True
- if two false value are there in the statement, it will return the first False statement
- if two true values are there in the statement, it will return the second True statement

In [14]:
False and False

False

In [15]:
True and False

False

In [16]:
False and True

False

In [17]:
True and True

True

In [18]:
'' and '1'

''

In [19]:
[1,2,3,4] and {}

{}

In [20]:
{} and ''

{}

In [21]:
0 and 0.0

0

In [22]:
0.0 and 0

0.0

In [23]:
1 and 3

3

In [29]:
# 0 and 0.0
1 and [1,2,3]

[1, 2, 3]

### Or Logical Operator

In [ ]:
0  0 --->0
1  0 --->1
0  1 --->1
1  1 --->1

- or logical Operator looks for True as soon as it gets True , It will return you a True 
- if there is no True  value the it will return you a False
- if two True value are there in the statement, it will return the first True statement
- if two False values are there in the statement, it will return the second False statement

In [33]:
True or True

True

In [34]:
True or False

True

In [35]:
False or True

True

In [36]:
False or False

False

In [42]:
1 or 0

1

In [38]:
{} or [1,2,3]

[1, 2, 3]

In [41]:
'8' or []

'8'

In [43]:
[] or 0.0

0.0

### Not (unary opertor)

- It is called a unary operator because it will take only one operand
- It will return the opposite of the passed operand

In [44]:
print(not True)

False

In [45]:
print(not 10)

False

In [46]:
print(not {})

True

### Comparision Operator 

- these are used to compare the two value 
- It will return us either a true or False

< --- less than
> ---- greater than 
<= ---- less than equal to (It will give a True if some value is either less than the other value or equal to it else False
>= ---- Greater than equal to  (It will give a True if some value is either greater than or equal to some value else False

In [48]:
10<20

True

In [49]:
10>20

False

In [50]:
11<=11

True

In [51]:
12>= 12

True

In [52]:
print(2.6>6.8)

False

### ASCII

In [55]:
print('A'>'a')

False

In [60]:
a = ord('A')
print(a)

65

In [54]:
ord('a')

97

In [56]:
print('A'>=65)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [57]:
print('A'>='65')

True

In [58]:
True > True #----> 1>1

False

In [61]:
ord("A")>=65

True

In [62]:
print('Mayank'>'Monisha')

False

In [63]:
print('Atul'>'Ghai')

False

In [65]:
print('Atul'<'Ghai')

True

In [66]:
print('MOM'>'MAA')

True

In [67]:
print('mom'>'maaa')

True

### Equality Operator 

 - these are also comparision operator
 - This is also going to return boolean value 
 - This is going to check whether two values are equal to each other or not 
     - ==(equal to equal to) --> it checks that whether the two values are equal and if they are equal then it will return a True else False
     - != (not equal to ) --> it checks that whetehr two value are not equal to each other and if they are not equal it will return a True else False

In [68]:
10==10

True

In [70]:
a = 10
b = 20
print(a ==b)
print(a != b)

False
True

In [71]:
a = 'mayank'
b = 'mayank'
print(a == b)

True

In [76]:
a = input('Enter your Password: ')
password = 'mickey0195@'

if a == password:
    print('Welcome')
else:
    print('Wrong Password! Try again')

Enter your Password: mickey0195@
Welcome

### Membership Operator 

- these operator checks whether a value is a partof a container datatype or not (string, list, tuple.dictionary, set, frozenset)
- It will return a boolean value 
- It checks the container element by element and return True as soon as the value is found

    - in    --> checks if the value is in the conatiner datatype or not, it will return a True if it is in the container datatype else False 
    - not in  --> checks if the value is not in the conatiner datatype or it is in it, it will return a True if the value is not in container datatype else False

In [77]:
a = 'mayank ghai'
print('k' in a)

True

In [78]:
print('u' in a)

False

In [79]:
lst = [1,2,3,4,5,6,6,7]
print(8 not in lst)

True

In [80]:
print(5 not in lst)

False

In [81]:
lst = ['Apple', 'Bat', 'Cat']
print('at' in lst)

False

In [82]:
a = 10
type(a)

int

In [83]:
b = float(a)
type(b)

float

In [85]:
c = complex(a)
type(c)

complex

In [87]:
d = list('mayank')
print(d, type(d))

['m', 'a', 'y', 'a', 'n', 'k'] <class 'list'>

In [89]:
e = tuple('mayank')
print(e, type(e))

('m', 'a', 'y', 'a', 'n', 'k') <class 'tuple'>

In [90]:
1+1.0 # 1.0+1.0

2.0

In [91]:
1 + 2+9j #---> 1+0j+(2+9j) ---> 3+9j

(3+9j)

In [94]:
a = input('Enter a number: ')
# input always returns a string datatype 
print(a, type(a))

Enter a number: 7+9j
7+9j <class 'str'>

In [96]:
a = input('Enter a number: ')

if a%2==0:
    print('Even')
else:
    print('Odd')

Enter a number: 11

TypeError: not all arguments converted during string formatting

In [97]:
a = int(input('Enter a number: '))

if a%2 == 0:
    print('Even')
else:
    print('Odd')

Enter a number: 11
Odd

In [98]:
a = int(input('Enter a number: '))

if int(a)%2==0:
    print('Even')
else:
    print('Odd')

Enter a number: 11
Odd

In [100]:
ord('m')

109