### isalnum()

- It returns True, if all the characters in the string are alphanumeric else it will retuun a False
- Alphanumeric means that it should be a combination of A-Z, a-z or 0-9

In [1]:
my_str = 'Data'
print(my_str.isalnum())

True

In [2]:
my_str = 'Data123'
print(my_str.isalnum())

True

In [3]:
my_str = 'Data123@'
print(my_str.isalnum())

False

In [4]:
my_str = 'DATA'
print(my_str.isalnum())

True

### isalpha()

- It returns a True, if all the characters in the string are only alphabets otherwise it returns a False
- Here, the string should be a combination of A-Z and a-z
- NO Digits and special characters are allowed

In [5]:
my_str = 'DATA'
print(my_str.isalpha())

True

In [6]:
my_str = 'Data123@'
print(my_str.isalpha())

False

### isupper()

- It returns True, if all the character in the string are in the upper case else False

In [7]:
my_str = 'DATA SCIENCE'
print(my_str.isupper())

True

In [8]:
my_str = 'Data SCIENCE'
print(my_str.isupper())

False

In [9]:
my_str = 'DATA SCIENCE123@'
print(my_str.isupper())

True

In [13]:
a = '1'
a.isupper()

False

### islower()

- It returns True if all the character in the string is going to be in lowercase.

In [11]:
my_str = 'data science123@'
print(my_str.islower())

True

In [14]:
a = '1'
a.islower()

False

In [15]:
my_str = 'DATA'
print(my_str.islower())

False

### istitle()

- It returns True if the string is in Title case
- Title case --> The first character of each word should be in the uppercase

In [16]:
my_str = 'This is a Python Class @'
print(my_str.istitle())

False

In [17]:
my_str = 'This Is A Python Class @'
print(my_str.istitle())

True

In [18]:
my_str = 'Mayank Atul Ghai'
print(my_str.istitle())

True

### isspace()

- It returns a True, if all the characters in the string are space characters
- Space characters --> \n, \t, \r and space

In [19]:
my_str = ' '
print(my_str.isspace())

True

In [20]:
my_str = '\n'
print(my_str.isspace())

True

In [21]:
my_str = '\r'
print(my_str.isspace())

True

In [22]:
my_str = '_'
print(my_str.isspace())

False

In [23]:
my_str = 'Mayank\nGhai'
print(my_str.isspace())

False

In [ ]:
\n ---> new line
\t---> horizontaltab
\r ---> carriage return 
' '---> space

In [24]:
my_str = 'Mayank\rGhai'
print(my_str)

Ghai

In [26]:
my_str = 'Learnbay\rClasses'
print(my_str)

Classes

In [29]:
my_str = 'Atul\rMayank'
print(my_str)

Mayank

In [31]:
my_str = 'mayank\tghai'
print(my_str)

mayank	ghai

In [32]:
len('mayank	ghai')

11

### startswith()

- It returns True if the string starts with a specified character or a sub-string else it will return False

In [37]:
a = "this is a Python class"
print(a.startswith('T'))

False

In [38]:
a = "This is a Python class"
print(a.startswith('T'))

True

In [39]:
a = "This is a Python class"
print(a.startswith('Th'))

True

In [40]:
a = "This is a Python class"
print(a.startswith('th'))

False

In [41]:
a = "This is a Python class"
print(a.startswith('this'))

False

In [42]:
a = "This is a Python class"
print(a.startswith('This'))

True

In [36]:
my_str = 'mayank\vghai'
print(my_str.isspace())

False

In [44]:
a = "@This is a Python class"
print(a.startswith('@'))

True

### endswith()

- It returns True if the string ends with a specified character or a sub-string else it will return False

In [47]:
my_str = "Data Science"
print(my_str.endswith('ce'))
print(my_str.endswith('Science'))
print(my_str.endswith('a'))

True
True
False

### Identifier

- An identifier is a name given to a variable, function, class or a file etc

### Properties of Valid Identifier

- An identifier may have alphanumeric characters (A-Z, a-z or 0-9) and also an underscore(_)
- An identifier may begin with an alphabet or an underscore(_) but it will never begin with a number
- An identifier may have numbers but after the alphabet or underscore(_)
- No space characters and special characters are allowed
- It is case sensitive, i.e. a and A are treated differently

### isidentifier()

- It will return a True if the string is a valid identifier else False

In [48]:
a = '_Mayank123'
print(a.isidentifier())

True

In [49]:
a = 'Mayank_123'
print(a.isidentifier())

True

In [50]:
a = '123Mayank_123'
print(a.isidentifier())

False

In [51]:
a = '123 Mayank_123'
print(a.isidentifier())

False

In [59]:
a = 'Mayank Ghai'
print(a.isidentifier())

False

In [58]:
a = 'Mayank_Ghai'
print(a.isidentifier())

True

In [53]:
a = '@mayank'
print(a.isidentifier())

False

In [56]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [57]:
a="Chanderkant123"
print(a.isidentifier())

True

In [64]:
even_num = '2' # snake way of writing

In [61]:
EvenNum = 1 # camel way of writing

In [63]:
a = True
print(a.isidentifier())

True

### isprintable()

- It will return a True if the element in the string is printable else it will return a false

In [65]:
my_str = 'Hello Python'
print(my_str.isprintable())

True

In [66]:
my_str = 'Hello\nPython'
print(my_str.isprintable())

False

In [67]:
print(my_str)

Hello
Python

In [68]:
my_str = 'Hello\tPython'
print(my_str.isprintable())

False

In [69]:
my_str = 'Hello\rPython'
print(my_str.isprintable())

False

### replace()

- It replaces the existing character or a sub-string from the string with a new character or a new substring
- It does not make any changes in the existing string
- It will return a new object

    Syntax:
        
        my_str.replace(sub_string, new_sub_string)

In [74]:
my_str = 'hello Python'
b = my_str.replace('Python', ' Java')
b

'hello  Java'

In [72]:
print(id(my_str), id(b))

2303106717104 2303113181616

In [75]:
my_str

'hello Python'

In [77]:
my_str = 'hello Python! Python is a very easy langauge'
b = my_str.replace('Python', 'C++')
b

'hello C++! C++ is a very easy langauge'

### isnumeric(), isdigit() and isdecimal()

#### isnumeric()
    
    - It returns a True if all the characters in the string are digits, superscipts, subscripts, vulgar fractions or Roman numbers else False
    
#### isdigit()

    - It returns a True if all the characters are digits, superscript and sub-scripts else False
    
#### isdecimal()
    
    - It returns a True if all the characters are digits only else False

In [78]:
a = '10'
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
True

In [87]:
a = '2\u00b3'
int(a)

ValueError: invalid literal for int() with base 10: '2³'

In [80]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
False

In [89]:
a = '12345\u0394'
a

'12345Δ'

In [90]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

False
False
False

In [91]:
a = '2\u2082'
a

'2₂'

In [92]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
True
False

In [93]:
a = 2\u00b3

SyntaxError: unexpected character after line continuation character (3931178398.py, line 1)

In [95]:
a = '5'+chr(189)
a

'5½'

In [96]:
print(a.isnumeric())
print(a.isdigit())
print(a.isdecimal())

True
False
False

In [97]:
a = 'akash akash mayank akash priya'

a.rfind('akash')

19

In [98]:
for i,j in enumerate(a):
    print(i,j)

0 a
1 k
2 a
3 s
4 h
5
6 a
7 k
8 a
9 s
10 h
11
12 m
13 a
14 y
15 a
16 n
17 k
18
19 a
20 k
21 a
22 s
23 h
24
25 p
26 r
27 i
28 y
29 a

In [100]:
a = '$Mayank$'
a.strip('$')

'Mayank'

In [101]:
a.lstrip('$')

'Mayank$'

In [103]:
a = '$mayank#'
a.strip('$')

'mayank#'