### Index

- It returns the index of the first occurance of a specified character or a sub-string from left to right
- If the character or sub-string is not found, then it will throw a value error
- It will return the lowest possible index

    Syntax:
        
        my_str.index('character')
        my_str.index('character', starting_index)
        my_str.index('character', starting_index, ending_index)
        
__Note:__ Irrespective of the fact, from where you are starting to search for the character it will alawys going to give us the index of the original string corresponding to that specific character

In [7]:
my_str = 'Python class'

# at which index the first occurance of a will be?
my_str.index('a')

9

In [8]:
my_str = 'Mayank atul ghai'

my_str.index('a')

1

In [11]:
my_str.index('a', 2)

# Dry run
# my_str[2::] ----> yank atul ghai
# this will be goingh to give you the answer according to the original string that means
# it will return the index according to the original string only

3

In [12]:
my_str.index('t', 6)

# Dry run 
my_Str[6::]

8

In [15]:
my_str[6::]

' atul ghai'

In [13]:
my_str.index('k', 6)

ValueError: substring not found

In [16]:
my_str = 'She sell sea shell on the sea shore'

my_str.index('e', 4)

5

In [18]:
my_str.index('e', 6, 10)

ValueError: substring not found

### find()


- It returns the index of the first occurance of a specified character or a sub-string from left to right
- If the character or sub-string is not found, then it will return -1
- It will return the lowest possible index

    Syntax:
        
        my_str.find('character')
        my_str.find('character', starting_index)
        my_str.find('character', starting_index, ending_index)
        
__Note:__ Irrespective of the fact, from where you are starting to search for the character it will alawys going to give us the index of the original string corresponding to that specific character

In [19]:
a = 'mayank atul ghai'

a.find('a')

1

In [20]:
a.find('a', 5)

7

In [21]:
a.find('a', 10, 16)

14

In [23]:
a.find('j')

-1

### rfind()

- It read the string from right to left
- It returns the index of the first occurance of a specified character or a sub-string from left to right
- if the character or sub-string is not found, then it will return -1
- It will return me the highest positive index

    Syntax:
        
        my_str.rfind('character')
        my_str.rfind('character', starting_index)
        my_str.rfind('character', starting_index, ending_index) # ending_index will be excluded
        
__Note:__ Irrespective of the fact, from where you are starting to search for the character it will always going to give us the index of the original string corresponding to that specific character

In [24]:
a

'mayank atul ghai'

In [25]:
a.rfind('a')

14

In [26]:
a.rfind('a', 4)

14

In [27]:
a.rfind('a', 4, 14)


# a[4:14]

7

In [29]:
a[4:14]

'nk atul gh'

In [31]:
a.rfind('a', 4, 15)

14

In [30]:
a[4:15]

'nk atul gha'

In [28]:
a.rfind('a',4, 7)

-1

### split()

- It splits the string from a specified character and returns the list of the elements
- By default, in split method the default character is space(' ')
- It will take a string as an input and will return a list as an output

    Syntax:
    
        a.split('specified character')
        
__Note__: By default, space is considered as the specified character

In [32]:
a

'mayank atul ghai'

In [33]:
a.split()

['mayank', 'atul', 'ghai']

In [34]:
a = 'mayank-atul-ghai'
a.split('-') # here we are telling to do the spliting based on a hypen

['mayank', 'atul', 'ghai']

In [35]:
a = 'mayank atul ghai'
a.split('a') # here we are telling to do the spliting based on the character a

['m', 'y', 'nk ', 'tul gh', 'i']

In [36]:
a = '+91-8360984479'
a.split('-')

['+91', '8360984479']

### join()

- It will combine the element of a list seperated by a specific character and will return a string
- It will take a list as an input and it will be returning a string as an answer

    Syntax:
        'character'.join(lst)

In [37]:
lst = ["Hello", 'this', 'is', 'a', 'python', 'class']

x = ''.join(lst)

In [38]:
x

'Hellothisisapythonclass'

In [39]:
y = ' '.join(lst)

In [40]:
y

'Hello this is a python class'

In [41]:
z = '-'.join(lst)
z

'Hello-this-is-a-python-class'

### splitlines()

- \n is an escape character that will going to give a new line
- It will by default split the values as it will encounter \n

In [43]:
my_str = 'My name is Mayank Atul Ghai.\nI am a Trainer at Learnbay.\nI also work as a Sr. Data Analyst '

print(my_str)

My name is Mayank Atul Ghai.
I am a Trainer at Learnbay.
I also work as a Sr. Data Analyst

In [44]:
my_str.splitlines()

['My name is Mayank Atul Ghai.',
 'I am a Trainer at Learnbay.',
 'I also work as a Sr. Data Analyst ']

In [45]:
my_str.split()

['My',
 'name',
 'is',
 'Mayank',
 'Atul',
 'Ghai.',
 'I',
 'am',
 'a',
 'Trainer',
 'at',
 'Learnbay.',
 'I',
 'also',
 'work',
 'as',
 'a',
 'Sr.',
 'Data',
 'Analyst']

In [46]:
'\n'.split(my_str)

['\n']

In [47]:
my_str.split('\n')

['My name is Mayank Atul Ghai.',
 'I am a Trainer at Learnbay.',
 'I also work as a Sr. Data Analyst ']

In [48]:
my_Str = '''My name is Mayank Atul Ghai.
I am a Trainer at Learnbay.
I also work as a Sr. Data Analyst'''

my_str.splitlines()

['My name is Mayank Atul Ghai.',
 'I am a Trainer at Learnbay.',
 'I also work as a Sr. Data Analyst ']

### strip()

- It removes the specified character from left to right side of a string
- By default, it removes the space character from left to right

__Note:__ It removes the boundary character but not the character which are coming in between of a string

In [49]:
my_str = '$150$'

my_str.strip('$')

'150'

In [50]:
my_str = '$1$5$0$'

my_str.strip('$')

'1$5$0'

In [51]:
my_str = '         Mayank            Atul                 Ghai'
my_str.strip()

'Mayank            Atul                 Ghai'

In [54]:
x = ' '. join(my_str.split())
x

'Mayank Atul Ghai'

In [56]:
my_str = '         Mayank            Atul                 Ghai'

x = my_str.strip()
y = x.split()
z = ' '.join(y)
z

'Mayank Atul Ghai'

In [58]:
my_str = '         Mayank            Atul                 Ghai'


y = my_str.split()
z = ' '.join(y)
print(y)
print(z)

['Mayank', 'Atul', 'Ghai']
Mayank Atul Ghai

### lstrip()

- It removes a specified character from the left side of the string
- By default, it will remove space characters

__Note:__ It removes the boundary character but not the character which are coming in between of a string

In [59]:
my_str = '$$$$$150$$$$$'
my_str.lstrip('$')

'150$$$$$'

In [61]:
my_str = '$1$5$0$'

my_str.lstrip('$')

'1$5$0$'

### rstrip()

- It removes a specified character from the right side of the string
- By default, it will remove space characters

__Note:__ It removes the boundary character but not the character which are coming in between of a string

In [62]:
my_str = '$$$$$150$$$$$'
my_str.rstrip('$')

'$$$$$150'

In [63]:
my_str = '$1$5$0$'

my_str.rstrip('$')

'$1$5$0'

### ljsut, rjust and center

- These are the justification methods.
- These functions are used to add a specific character on the left or on the right or in the center of string

### ljust()

- It reads the string from left to right
- It adds the specified character to the right of the string


    Syntax:
    
        my_str.ljust('length of the resultant string', 'character that i want to add')
        my_str.ljust(len(original_string)+number_of_character_i _want to add, 'character that i want to add')

In [69]:
my_str = 'python'

# Output - 'python-----'

print(my_str.ljust(11, '-'))

python-----

In [ ]:
P y t h o n - - - - -

In [71]:
print(my_str.ljust(len(my_str)+5, '-'))

python-----

### rjust()

- It reads the string from right to left
- It adds the specified character to the left of the string


    Syntax:
    
        my_str.rjust('length of the resultant string', 'character that i want to add')
        my_str.rjust(len(original_string)+number_of_character_i _want to add, 'character that i want to add')

In [73]:
my_str

'python'

In [74]:
#+++python

my_str.rjust(len(my_str)+3, '+')

'+++python'

In [75]:
my_str.rjust(9, '+')

'+++python'

### Center()

- It adds the specified character on both the side of the string

    Syntax:
        
        my_str.center('length of the string', 'character')
        my_str.center(len(my_str)+number of character, 'character')

In [77]:
my_str

'python'

In [78]:
# Output '*****Python*****'

my_str.center(16, '*')

'*****python*****'

In [79]:
my_str.center(len(my_str)+10, '*')

'*****python*****'

In [80]:
my_str.center(len(my_str)+9, '*')

'*****python****'

#### To add one specified character in the left hand side and some other character on the right hand side

In [91]:
my_str = 'Data'

# Output - '++Data--'

x = my_str.ljust(len(my_str)+2, '-')
y = x.rjust(len(x)+2, '+')
print(x)
print(y)

Data--
++Data--

In [86]:
my_str.ljust(len(my_str)+2, '-').rjust(len(my_str)+4, '+')

'++Data--'

In [87]:
my_str.ljust(len(my_str)+2, '-')

'Data--'

In [89]:
my_str.ljust(len(my_str)+2, '-').ljust(len(my_str)+4, '+')

'Data--++'

In [90]:
my_str.ljust(len(my_str)+2, 'mayank').rjust(len(my_str)+4, '+')

TypeError: The fill character must be exactly one character long