### Derived Data-types

- These are container types that are used to store multiple values or multiple elements at the same time
- We are going to store multiple primitive and dervied dattype in it which can be similar or non-similar datatype 

    - list
    - tuple
    - dictionary
    - set
    - frozenset

### List

- anything written inside a square bracket [.....], will be considered as a list datatype 
- each element should be seperated by a comma(,) from each other 
- a list can have heterogenous (different type ) elements in it
- a list can have duplicate values in it 
- item assignment is possible in list
- we can add or remove anything from a list that means they are mutable

In [1]:
lst = [1,2,3,4,5,6]
print(lst, type(lst))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [2]:
lst = [1, 2.0, 4+6j, 'Python', None, True, range(5), [1,2, 3]]
print(lst, type(lst))

[1, 2.0, (4+6j), 'Python', None, True, range(0, 5), [1, 2, 3]] <class 'list'>

In [3]:
for i in lst:
    print(i, type(i))

1 <class 'int'>
2.0 <class 'float'>
(4+6j) <class 'complex'>
Python <class 'str'>
None <class 'NoneType'>
True <class 'bool'>
range(0, 5) <class 'range'>
[1, 2, 3] <class 'list'>

In [15]:
lst = [1,2,3,4,5,4,3,2,1]
print(lst)

[1, 2, 3, 4, 5, 4, 3, 2, 1]

In [7]:
lst = lst + [100]
print(lst)

[1, 2, 3, 4, 5, 4, 3, 2, 1, 100]

In [9]:
lst = lst - [100]
print(lst)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [16]:
lst

[1, 2, 3, 4, 5, 4, 3, 2, 1]

In [17]:
id(lst)

2366646888256

In [18]:
lst.append(1)

In [19]:
lst

[1, 2, 3, 4, 5, 4, 3, 2, 1, 1]

In [20]:
id(lst)

2366646888256

In [22]:
lst.remove(5)

In [23]:
lst

[1, 2, 3, 4, 4, 3, 2, 1, 1]

In [24]:
id(lst)

2366646888256

In [27]:
lst

[1, 2, 3, 4, 4, 3, 2, 1, 1]

In [28]:
lst[0] = 0
print(lst)

[0, 2, 3, 4, 4, 3, 2, 1, 1]

### Tuple 

- anything written inside a round bracket (.....), will be considered as a tuple datatype 
- each element should be seperated by a comma(,) from each other 
- a tuple can have heterogenous (different type ) elements in it
- a tuple can have duplicate values in it 
- item assignmnet is not possible here 
- we cannot add or remove anything from a tuple that means they are immutable

In [25]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [26]:
t = (1, 2.0, 4+6j, 'Python', None, True, range(5), [1,2, 3],(1,2,3))
for i in t:
    print(i, type(i))

1 <class 'int'>
2.0 <class 'float'>
(4+6j) <class 'complex'>
Python <class 'str'>
None <class 'NoneType'>
True <class 'bool'>
range(0, 5) <class 'range'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

In [29]:
t

(1, 2.0, (4+6j), 'Python', None, True, range(0, 5), [1, 2, 3], (1, 2, 3))

In [30]:
t[0] = 0

TypeError: 'tuple' object does not support item assignment

### How list and tuple are actually different ?

In [31]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [32]:
print(id(lst))

2366660959488

In [33]:
lst.remove(2)

In [34]:
lst

[1, 3, 4, 5]

In [36]:
print(id(lst))

2366660959488

In [37]:
t = (1,2,3,4)
print(t, type(t), id(t))

(1, 2, 3, 4) <class 'tuple'> 2366661049888

In [38]:
t.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
t.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

### Dictionary 

- a dictionary is a collection of keys and value pair 
- it will be in curly brackets {}
- every key:value pair is seperated by a comma(,)
    - key can have immutable datatype such as int, float, string, tuple
    - values can have mutable datatype such as list, dictionary etc
- key should have unique values in it whereas values can have duplicate values

In [40]:
d = {'name':'Mayank', 'age':32, 'city':'Bengaluru'}
print(d, type(d))

{'name': 'Mayank', 'age': 32, 'city': 'Bengaluru'} <class 'dict'>

In [42]:
d.keys()

dict_keys(['name', 'age', 'city'])

In [43]:
d.values()

dict_values(['Mayank', 32, 'Bengaluru'])

In [50]:
emp = {'name':['Mayank', 'Geetika', 'Priya', 'Rishabh', 'Deepak'],
       'age':[32, 28, 27, 32, 25, 6],
       'salary':[75000, 80000, 65000, 65000, 23000]}

print(emp, type(emp))

{'name': ['Mayank', 'Geetika', 'Priya', 'Rishabh', 'Deepak'], 'age': [32, 28, 27, 32, 25, 6], 'salary': [75000, 80000, 65000, 65000, 23000]} <class 'dict'>

In [45]:
emp.keys()

dict_keys(['name', 'age', 'salary'])

In [46]:
emp.values()

dict_values([['Mayank', 'Geetika', 'Priya', 'Rishabh', 'Deepak'], [32, 28, 27, 32, 25], [75000, 80000, 65000, 65000, 23000]])

In [57]:
a = emp['name'][1], emp['age'][1]

In [58]:
a

('Geetika', 28)

In [59]:
a[0] = 'Ritika'

TypeError: 'tuple' object does not support item assignment

In [60]:
emp['name', 'age']

KeyError: ('name', 'age')

### set

- Anything which we will write in the curly bracket {}
- comma is used to seperate different elements 
- a set can have hetrogenous (different type) elements in it 
- a set does not allow any duplicate value 
- a non sequential datatype means it will not follow indexing
- it is an un-ordered collection of datatype s
- set is a muatble data

In [61]:
s = {1,2,3,4,5,6}
print(s, type(s))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [62]:
s = {3,2,1,3,4,5,6,2,3,4,6,7}
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [64]:
b = 'Mayank Ghai'
set(b)

{' ', 'G', 'M', 'a', 'h', 'i', 'k', 'n', 'y'}

In [ ]:
ASCII - American standard code for information interchange

In [65]:
ord(' ')

32

In [66]:
ord('G')

71

In [69]:
ord('A')

65

In [67]:
ord('a')

97

In [68]:
ord('y')

121

In [70]:
print(set(b))

{'k', 'h', 'n', 'M', 'a', 'G', ' ', 'i', 'y'}

In [71]:
s1={11,22,3,3,4,4,5,6,777,778,88}
print(s1, type(s1))

{3, 4, 5, 6, 777, 778, 11, 22, 88} <class 'set'>

### Frozenset()

- whenever we pass an itearble object (string, list, tuple, sets) is written inside the frozenset() then it becomes a frozenset
- comma is used to seperate different elements 
- a frozenset can have hetrogenous (different type) elements in it 
- a frozenset does not allow any duplicate value 
- a non sequential datatype means it will not follow indexing
- it is an un-ordered collection of datatype
- frozenset is a immutable data

In [72]:
my_str = 'mayank atul ghai' #'m'+'a'+'y'+'a'+'n'
a = frozenset(my_str)
print(a, type(a))

frozenset({'k', 'm', 'h', 'g', 'n', 't', 'l', 'a', ' ', 'u', 'i', 'y'}) <class 'frozenset'>

### Mutable and Immutable 

#### Mutable data-type

   - any datatype where we can change the value or we can add a value or we cn remove a value are called mutable datatype 
   - if something is added or removed or changed the memory space where the thing is stored will remain the same as when the object was first declared
   - __Example:__ list, dictionary

In [77]:
lst = [1,2,3,4]
print(lst, id(lst))

[1, 2, 3, 4] 2366663680064

In [78]:
lst[3] = 5

In [79]:
lst

[1, 2, 3, 5]

In [80]:
id(lst)

2366663680064

In [81]:
lst.append(257)
print(lst, type(lst))

[1, 2, 3, 5, 257] <class 'list'>

In [82]:
id(lst)

2366663680064

In [83]:
for i in range(len(lst)):
    print(lst[i], type(lst[i]), id(lst[i]))

1 <class 'int'> 140720262714152
2 <class 'int'> 140720262714184
3 <class 'int'> 140720262714216
5 <class 'int'> 140720262714280
257 <class 'int'> 2366673456720

In [84]:
lst.append(257)

In [85]:
lst

[1, 2, 3, 5, 257, 257]

In [86]:
for i in range(len(lst)):
    print(lst[i], type(lst[i]), id(lst[i]))

1 <class 'int'> 140720262714152
2 <class 'int'> 140720262714184
3 <class 'int'> 140720262714216
5 <class 'int'> 140720262714280
257 <class 'int'> 2366673456720
257 <class 'int'> 2366659738960

In [87]:
id(1)

140720262714152

In [89]:
lst[0] = 5

In [90]:
lst

[5, 2, 3, 5, 257, 257]

In [91]:
id(lst)

2366663680064

In [92]:
for i in range(len(lst)):
    print(lst[i], type(lst[i]), id(lst[i]))

5 <class 'int'> 140720262714280
2 <class 'int'> 140720262714184
3 <class 'int'> 140720262714216
5 <class 'int'> 140720262714280
257 <class 'int'> 2366673456720
257 <class 'int'> 2366659738960

### Immutable Dataype 

- any datatype where change cannot happen that means object once created they have a fixed memory space 
- we cannot modify the object 
- __Examples:__ int, float, complex, string, tuples, frozenset, None

In [93]:
a = 'Rohan'
a

'Rohan'

In [94]:
a[0] = 'S'

TypeError: 'str' object does not support item assignment

In [95]:
a = 11

In [96]:
a[0] = 0

TypeError: 'int' object does not support item assignment

### Type-Casting

- It converts one datatype into another datatype

In [97]:
a = 10
print(a, type(a))

10 <class 'int'>

In [99]:
b = float(a)
print(b, type(b))

10.0 <class 'float'>

In [100]:
c = complex(a)
print(c, type(c))

(10+0j) <class 'complex'>

In [101]:
print(a, type(a))

10 <class 'int'>

In [102]:
a = 'Mayank'
b = int(a)

ValueError: invalid literal for int() with base 10: 'Mayank'

### Type of Type Casting

- implicit type casting ----> this will be done by the interpreter automatically 
- explicit type casting ----> this is done by us

In [104]:
# implicit type casting

a = 10 # 10.0
b = 20.0
print(a+b)

30.0

In [109]:
a = 10.0 # 10+0j
b = 20+7j
c = 10 # 10+0j
print(a+b+c)

(40+7j)

In [110]:
#explicit

a = input('Enter a number: ')
print(a, type(a))

Enter a number: 10
10 <class 'str'>

In [111]:
a = int(input('Enter a number: '))
print(a, type(a))

Enter a number: 10
10 <class 'int'>

In [112]:
a = float(input('Enter a number: '))
print(a, type(a))

Enter a number: 10
10.0 <class 'float'>

In [114]:
a = complex(input('Enter a number: '))
print(a, type(a))

Enter a number: 2
(2+0j) <class 'complex'>

In [115]:
b = input('Enter a list: ')
print(b, type(b))

Enter a list: 10,20,30,40
10,20,30,40 <class 'str'>

In [116]:
b = list(input('Enter a list: '))
print(b, type(b))

Enter a list: 10,20,30,40
['1', '0', ',', '2', '0', ',', '3', '0', ',', '4', '0'] <class 'list'>

### Input and Output

- input function ----> takes the argument from the user (input() function)
- Output function ----> it displays the outcome in the screen (print() function)

In [117]:
a = int(input('Enter a number: '))

Enter a number: 10

In [118]:
print(a)

10

In [119]:
a = input('Enter your name: ')

Enter your name: mayank atul ghai

In [120]:
print(a)

mayank atul ghai