### Loops 

- Loops is a concept which is used to execute a particular piece of code repeatedly

In [3]:
# print hello 5 times 

print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello
Hello
Hello

In [5]:
print('Hello\n'*5)

Hello
Hello
Hello
Hello
Hello

In [6]:
m = 'Python'

print(m[0])
print(m[1])
print(m[2])

P
y
t

In [ ]:
my_str = 'She sells sea shells on the sea shore'

### Iteartions 

- Transvering or moving upon the elements of an iterable object from the beginning to the end is known as iterations
- The number of iterations are equal to the number of elements in the iterable objects

Iterable objects ---> range, strings, lists, tuples, dictionary, sets or frozensets 

__Note:__ We can't iterate over numeric datatype, boolean datatype and None datatype

In [7]:
a = 11

for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [8]:
a = 11.0

for i in a:
    print(i)

TypeError: 'float' object is not iterable

In [9]:
a = 7+9j

for i in a:
    print(i)

TypeError: 'complex' object is not iterable

In [10]:
a = True

for i in a:
    print(i)

TypeError: 'bool' object is not iterable

In [11]:
a = None

for i in a:
    print(i)

TypeError: 'NoneType' object is not iterable

In [13]:
my_str = 'She sells sea shells on the sea shore'
print(my_str)

She sells sea shells on the sea shore

In [15]:
len(my_str)

37

In [14]:
for i in my_str: #'She sells sea shells on the sea shore'
    print(i)

S
h
e

s
e
l
l
s

s
e
a

s
h
e
l
l
s

o
n

t
h
e

s
e
a

s
h
o
r
e

In [18]:
lst = [1,2,3,4,5]

for i in lst:
    print(i, end = '\n')

1
2
3
4
5

In [19]:
lst = [1,2,3,4,5]

for i in lst:
    print(i, end = '')

12345

### Type of Loops 

We have two types of loops :

 - For loop --> it is used where we can iterate over the elements of a itearble object(we know till how long we have to go), we will use it for iterable objects 
 - While loop --> it is used where we are going to work till a particular situation is satisfied, here we do not know how many iteration it will take, we will use it for all datatypes

### For loop 

    Syntax:
    
        for i(space holder) in itearble_objects(range, strings, list, tuples, dictionary, sets or frozensets):
            code
            code 
            code

In [20]:
my_str

'She sells sea shells on the sea shore'

In [21]:
for i in my_str:
    print(i)

S
h
e

s
e
l
l
s

s
e
a

s
h
e
l
l
s

o
n

t
h
e

s
e
a

s
h
o
r
e

In [22]:
for x in my_str:
    print(x)

S
h
e

s
e
l
l
s

s
e
a

s
h
e
l
l
s

o
n

t
h
e

s
e
a

s
h
o
r
e

In [23]:
d = {1:100, 2:200, 3:300, 4:400}

for i in d:
    print(i)

1
2
3
4

In [27]:
emp_detail = {'name': 'Mayank', 'age':29, 'salary':95000, 'company':'IZMO', 'city':'Bengaluru'}

for a in emp_detail:
    print(a)

name
age
salary
company
city

In [24]:
range(5)

range(0, 5)

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [29]:
for i in range(1, 5, 2): #start = 1, stop = 5-1 = 4, step_size = 2
    print(i)

1
3

In [30]:
for i in range(1, 5, 5): #start = 1, stop = 5-1 = 4, step_size = 2
    print(i)

1

In [31]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [32]:
print(i)

4

In [34]:
a = 'Python'
print(list(enumerate(a)))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [35]:
for i, j in enumerate(a):
    print(i, j)

0 P
1 y
2 t
3 h
4 o
5 n

In [36]:
# if we wish to print every character of my_str
my_str = 'Python Class'

for i in my_str:
    print(i)

P
y
t
h
o
n

C
l
a
s
s

In [37]:
# if we wish to have the index of every character 

for i in range(len(my_str)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [38]:
# if we wish to print every character of my_str using indexing
my_str = 'Python Class'

for i in range(len(my_str)): # range(0, 12)
    print(i , my_str[i]) 
    # here i will hold the index values, my_str[i] is your indexing concept which will fetch the char at that index

0 P
1 y
2 t
3 h
4 o
5 n
6
7 C
8 l
9 a
10 s
11 s

In [39]:
for i, j in enumerate(my_str):
    print(i, j)

0 P
1 y
2 t
3 h
4 o
5 n
6
7 C
8 l
9 a
10 s
11 s

In [43]:
lst = [1,2,3,4,5,6,7,8,9, 10, 11,12, 13, 14, 15, 16, 17, 18, 19, 20]

# print the number which are even 

for i in lst:
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [44]:
my_str = 'She sells sea shells on the sea shore'
print(my_str)

She sells sea shells on the sea shore

In [45]:
# count function 
my_str.count('s')

7

In [50]:
my_str = 'She sells sea shells on the sea shore'

count = 0

for i in my_str:
    if i == 's':

        count = count+1
        
print(count)

7

In [48]:
count = 0

for i in range(len(my_str)):
    if my_str[i] == 's':
        count = count+1
        
print(count)

7

### index function

In [51]:
my_str.index('a')

12

In [93]:
# WAP that is going to mimic the index method of the string

char = input ('enter the character want to find the index of : ')
count=0
for i in range(len(my_str)):
    if my_str[i] == char:
        count = count+1
        if count ==1 :
              print(i)
else : 
    if count == 0:
        print('value error')

enter the character want to find the index of : a
12

In [95]:
char = input("Enter according to you: ")

count =0
for i in range(len(my_str)):
    if my_str[i] == char:
        count = count +1
        if count ==1:
            print(i)
if count == 0:
    print("value error")

Enter according to you: a
12

In [72]:
# split function
my_str.split()

['She', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [96]:
my_str

'She sells sea shells on the sea shore'

In [6]:
my_str = 'She sells sea shells on the sea shore'
Output = [] # here i am creating an empty list to store the output
word = '' # here i am creating an empty string to store the word 

for i in my_str: # iterate over the elements  of string
    if i != ' ': # checks whether my i is a space character or not
        
        # if it is not a space character i am concatenating that character into my word 
        word = word +i
        print(word)
    else: 
        
        # if it is a space character i am concatenating the list of that word to a output list
        Output = Output + [word]
        word = '' # we are empty the string again so that it can store the next word
        print(Output)
        print('------------------')
Output = Output + [word]
print(Output)

S
Sh
She
['She']
------------------
s
se
sel
sell
sells
['She', 'sells']
------------------
s
se
sea
['She', 'sells', 'sea']
------------------
s
sh
she
shel
shell
shells
['She', 'sells', 'sea', 'shells']
------------------
o
on
['She', 'sells', 'sea', 'shells', 'on']
------------------
t
th
the
['She', 'sells', 'sea', 'shells', 'on', 'the']
------------------
s
se
sea
['She', 'sells', 'sea', 'shells', 'on', 'the', 'sea']
------------------
s
sh
sho
shor
shore
['She', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

Enter according to youm
value error

In [2]:
''+'m'

'm'