### Comments

- Comments are used to improve the readability of the code written by any other person or even by me.
- anything written after the '#' will be ignored by the translator

In [2]:
a = 10 #initialising the variable a with a value 10
b = 20 # initialising the varaible b with a value 20
c = a+b # initialising a variable c that is going to store the sum of the two variable in it
print(f'The sum of {a} and {b} is {c}')# printing out the output

The sum of 10 and 20 is 30

In [3]:
# initialising the variable a and b with some value in it 
a = 10
b = 20

#adding the value stored in a and b and storing the result in a variable c
c = a + b

# print the output 
print(f'The sum of {a} and {b} is {c}')

The sum of 10 and 20 is 30

### Way of Writing an Output

In [4]:
a = 10 
b = 20
c = a+b
print(c)

30

In [16]:
# Normal way 

a = 10 
b = 20
c = a+b
print("The result is ", c)

The result is  30

In [6]:
print('The sum of',a, 'and', b, 'is', c)

The sum of 10 and 20 is 30

In [17]:
print('The sum of'+' '+(a)+' '+'and'+' '+str(b)+' '+ 'is'+' '+ str(c))

TypeError: can only concatenate str (not "int") to str

In [21]:
print('The sum of'+' '+str(a)+' '+'and'+' '+str(b)+' '+ 'is'+' '+ str(c))

The sum of 10 and 20 is 30

In [14]:
a = 'Hello'
b = 'World'
c = a+' '+b
print(c)

Hello World

In [12]:
1+'mayank'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
# using format method

In [27]:
print('The sum of {} and {} is {}'.format(a,b,c))

The sum of 10 and 20 is 30

In [23]:
print('The sum of {} and {} and {}'.format(b,a,c))

The sum of 20 and 10 and 30

In [24]:
print('The sum of {} and {} and {}'.format(c,a, b))

The sum of 30 and 10 and 20

In [26]:
print('the sum', a, b)

the sum 10 20

In [28]:
print(a,b,c)

10 20 30

In [30]:
a = int(input('Enter a number: '))
b = int(input('Enter a number: '))

c = a+b

print('The sum of {} and {} is {}'.format(a,b,c))

Enter a number: 10
Enter a number: 50
The sum of 10 and 50 is 60

In [35]:
a = int(input('Enter a number: '))
b = input('Enter a number in words: ')

print('The number is {} and in words it is {}'.format(a,b))
print('the number given by the user in word is this {} and the numeber is {}'.format(b,a))

Enter a number: 10
Enter a number in words: Ten
The number is 10 and in words it is Ten
the number given by the user in word is this Ten and the numeber is 10

In [32]:
# f- formatting
print(f'The sum of {b} and {a} is {c}')

The sum of 50 and 10 is 60

### Operators

- We will use operators to perform different kinds of operation in different set of value

#### Type of Operator 

- Arithmetic Operator 
- Logical Operator 
- Comparison Operator
- Equality Operator 
- Assignment OPerator 
- Compounding Operator 
- Membership Operator 
- Identity Operator 
- Bitwise Operator 
- Ternary Operators

### Arithmetic Operator 

- Will help us to do any arithemtic operation over the values stored in variable
- These are valid for int, float, complex and bool (Will use the first four Operations)
    
        - (+) ---> addition
        - (-) ---> subtraction
        - (*) ---> Multiplication
        - (/) ----> float division (the result will be in the float datatype) (ans - quotient)
        - (//) ---> floor division (the result will be in the int datatype) (ans - quotient)
        - (%) ----> modulus (the answer will be the remainder)
        - (**) ---> Exponential (raise to the power)

In [36]:
print(2+5)

7

In [37]:
print(10-3)

7

In [38]:
print(10*2)

20

In [40]:
print(11/2) # Dividend = Divsior * Quotient + Remainder

5.5

In [ ]:
Floor      Number        Ceil
   1         1.2         2
    
1.2 = 1.0 +0.2

In [41]:
print(11//2)

5

In [43]:
print(12/5)

2.4

In [44]:
print(12//5)

2

In [47]:
print(10%5)

0

In [48]:
print(2**3) # 2*2*2

8

In [49]:
True+True

2

In [50]:
True - True

0

In [51]:
True/True

1.0

In [52]:
False/True

0.0

In [53]:
False//True

0

In [54]:
True/False

ZeroDivisionError: division by zero

### Order of Execution 

- First Paranthese will get executed 
- Exponential Will get executed
- Multiplcation, float divison, floor division, modulus
- Addition, Subtraction

In [ ]:
a = (1+2)*3**2//2+3
a = (3)*3**2//2+3
a = (3)*9//2+3
a = 27//2+3
a = 13+3
a = 16

In [55]:
a = (1+2)*3**2//2+3
a

16

In [ ]:
a = (9+3)**3//2%5
a = (12)**3//2%5
a = 1728//2%5
a = 864%5
a = 4

In [56]:
a = (9+3)**3//2%5
a

4

### Assignment Operator (=)

- It is used to assign a value to a particular variable

In [57]:
a = 10
print(a)

10

In [59]:
b = 'mayank'
print(b)

mayank

In [60]:
c = 10.0
print(c)

10.0